	.closeDelButton {
		position: absolute;
	}

	.closeDelButton {
		box-shadow: 0 0 15px #ffffff;
	    /*background: #696464;*/
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 25px;
	    height: 25px;
	    border-radius: 50px;
	    border: 1px solid white;
	}
	.closeDelButton:after {
	    content: '';
	    height: 35px;
	    border-left: 1px solid white;

	    position: absolute;
	    transform: rotate(45deg);
	    left: 10px;
	    /*top: 2px;*/
	}

	.closeDelButton:before {
	    content: '';
	    height: 35px;
	    border-left: 1px solid white;

	    position: absolute;
	    transform: rotate(-45deg);
	    left: 10px;
	    /*top: 2px;*/
	}
	.closeDelButton:hover:before, .closeDelButton:hover:after {
		transition: 2s ease-in-out;
	    height: 40px;


	}

	.closeDelButton:hover{
		transform: rotate(1turn) scale(1.3);
		transition: 2s ease-in-out;
	}