#editorBlock {
	/*top: 100px;*/
	min-height: 800px;
	display: flex;
	flex-direction: row;
}

#editorBlock * {
	margin: 5px;
}

#videoBlock {
	border-radius: 5px;
	min-height: 500px;
	min-width: 650px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.photoMaker {
	border-radius: 5px;
	width: 640px;
	height: 480px;
	z-index: 1;
}
.userPhoto
{
	margin: 0px !important;
	border-radius: 5px;
	width: 640px;
	height: auto;
	z-index: 1;
}

.userLoadedPhotoBlock {
	padding: 0px !important;
	border-radius: 5px;
	width: 640px;
	height: 480px;
	z-index: 1;
	overflow-y: scroll;	
}

.userLoadedPhotoBlock::-webkit-scrollbar { 
    display: none; 
}

#dragContainer {
	border-radius: 5px;
	width: 640px;
	height: 480px;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	touch-action: none;
	position: absolute;
}

.conteinerItem {
	height: 100px;
	z-index: 2;
	position: absolute;	
}

#capturedCanvasBlock {
	display: flex;
	flex-direction: column;
	width: 250px;
}

.canvasCaptured {
	border: 2px solid black;
	border-radius: 5px;
	width: 160px;
	height: 120px;
}