.hiddenEl {
	position: absolute;
	top: -200px;
	visibility: hidden;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.hiddenEl *
{
	position: absolute;
	top: -200px;
	visibility: hidden;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}