.previewBlock {
	padding: 5px;
	z-index: 10;
	left: 150px;
	top: 150px;
	visibility: visible;
	width: 600px;
	height: 700px;
	background-color: black;
	border: 2px solid #474745;
	border-radius: 5px;
	position: absolute;
	min-width: 700px;
}

.previewCanvas {
	border: 2px solid black;
	width: 640px;
	height: 480px;
}

#previewCanvasId {
	margin: 5px;
}