.comentBlock {
	height: 480px;
	width: 650px;
	padding: 5px;
	overflow-y: scroll;
	border-radius: 10px;

}

.senderBox textarea {
	resize: none;
	width: 98%;
	margin: 5px;
}

.singleCommentBlock {
	border: 1px solid white;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.singleCommentBlock p {
	max-width: 630px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 2px;
}

.singleCommentBlock:hover {
	word-break: break-all;
}

@media (pointer:none), (pointer:coarse) {
	.comentBlock {
		height: 30vh;
		width: 90vw;
		padding: 5px;
		overflow-y: scroll;
		border-radius: 10px;
		/*-webkit-touch-overflow:scroll;*/
	}

	.singleCommentBlock p {
		max-width: 80vw;
	}
}
