.changePasswBlock
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: space-between;*/
}

.changePasswBlock * {
	margin: 5px;
}

.passwordBlockForm {
	display: flex;
	align-items: center;
	width: 98%;
}